@import 'tailwindcss';
@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Nunito', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-primary: var(--primary);
    --color-primary-hover: var(--primary-hover);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-accent-hover: var(--accent-hover);
    --color-muted: var(--muted);
    --color-muted-hover: var(--muted-hover);
    --color-destructive: var(--destructive);
    --color-destructive-hover: var(--destructive-hover);
    --color-slate: var(--slate);
    
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-border: var(--border);
    --color-input: var(--input);


}

:root {
    --primary: #435ebe;
    --primary-hover: #3950a2;
    --secondary: #25396f;
    --accent: #dab955;
    --accent-hover: #C9A544;
    --muted: #f9f9f9;
    --muted-hover: #dcecec;
    --destructive: #dc3545;
    --destructive-hover: #bb2d3b;

    --slate: #607080;
    --white: #ffffff;

    --border: #dce7f1;
    --input: oklch(0.922 0 0);
    --radius: 0.5rem;
}

@layer base {
    html {
        font-size: 18px;
    }

    body {
        color: var(--slate);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--secondary);
        font-weight: 700;
        line-height: 1.2;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    h6 {
        font-size: 1rem;
    }

    @media (max-width: 768px) {
        html {
            font-size: 16px;
        }
    }
}
